@import "tailwindcss";

@layer base {
  html {
    width: 100%;
    height: 100%;
    background-color: oklch(90.1% 0.076 70.697);
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  #root {
    height: 100%;
    width: 100%
  }

}

@theme {
  --font-thick: "Cal Sans", sans-serif;
  --font-skinny: "Smooch Sans", sans-serif;
  --w-hvw: 50vw;
  --color-black-shade: oklch(0 0 0 / 75%);
}